{% from 'macros/macros.html' import call_to_actions as actions %}
{% from 'macros/navbar.html' import navbar %}
{% from 'macros/application_list.html' import application_card_list as list %}


{% set dashboard = "/" if is_logged_in else "/dashboard" %}

{% set nav_links = [
    { "href": dashboard, "name": "Dashboard" },
    { "href": "/all-applications", "name": "View applications" }, 
    { "href": "/all-companies", "name": "Browse Companies" },
] %}


<!DOCTYPE html>
<html lang="en" data-theme="wireframe">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browse applications</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
  </head>
  <body class="flex flex-col items-center justify-start min-h-screen overflow-hidden">
    {{ navbar(navlinks=nav_links, is_logged_in=is_logged_in) }}


    <main class="w-full h-[90vh] overflow-hidden">
        <div
          class="left-0 flex flex-col w-full px-4 py-4 bg-white border border-2 overflow-hidden h-[90vh]"
        >
          {% set application_data = [] %}
          {% for app in data %}
              {% set _ = application_data.append(app.fields) %}
          {% endfor %}
        {% set displayed_fields = [
          {"name" : "id", "key" : "id", "type" : "text", "editable" : False },
          {"name": "Application name", "editable": True, "key": "jobName", "type": "text"},
          {"name": "Posted by", "editable": False, "key": "companyName", "type": "text"},
          {"name": "Role", "editable": False, "key": "role", "type": "checkbox"},
          {"name": "Logo", "editable": False, "key": "logo", "type": "image"},
        ]%}

        {{ list( 
          title="All posted applications",
          data_source=application_data,
          cols = 3
        )}}
        </div>
    </main>

    <script
      src="https://kit.fontawesome.com/68c16b630a.js"
      crossorigin="anonymous"
    ></script>
    <!-- Include Font Awesome -->
  </body>
</html>
