<!-- Import Jinja Macros -->
{% from 'macros/macros.html' import call_to_actions as actions, list %}
{% from 'macros/navbar.html' import navbar %}


{% set dashboard = "/" if is_logged_in else "/dashboard" %}

{% set nav_links = [
    { "href": dashboard, "name": "Dashboard" },
    { "href": "/all-applications", "name": "View applications" }, 
    { "href": "/all-companies", "name": "Browse Companies" },
] %}


<!DOCTYPE html>
<html lang="en" data-theme="wireframe">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Companies (for testing)</title>
    <link rel="stylesheet" href="../static/dist/output.css" />

    
  </head>

  <body class="flex flex-col items-center justify-start min-h-screen">
    <!-- Header -->
    {{ navbar(navlinks=nav_links, is_logged_in=is_logged_in) }}

    <!-- Main Content -->
    <main
      class="w-full flex flex-col items-center justify-center p-8 space-y-8 lg:px-12"
    >
      <div class="space-y-8 w-full">
        <div
          class="shadow-sm flex flex-col items-start justify-center p-4 space-y-2 border border-gray-300 rounded-lg bg-white w-4/5"
        >
          {% set displayed_fields = [
                { "name": "id", "key": "id", "type": "text", "editable": False },
                { "name": "Company Name", "editable": True, "key": "name", "type": "text" },
                { "name": "Company Email", "editable": True, "key": "email", "type": "email" },
                { "name": "Company Phone Number", "editable": True, "key": "contact", "type": "tel" },
                { "name": "Logo", "editable": True, "key": "logo", "type": "image" }
            ] %}

          {{ list( 
            data=data,
            fields=displayed_fields,
            is_editable=false,
            table=table,
            has_image=True,
            is_addable=False,
            is_deletable=False,
          )}}
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer
      class="h-40 flex flex-col items-center justify-center w-full space-y-4"
    >
      <img src="../static/images/logo-black.svg" alt="Logo" class="w-16" />
      <p class="text-center text-gray-700">
        &copy; 2023 Veric. All rights reserved.
      </p>
    </footer>
  </body>
</html>
