<!-- Import Jinja Macros -->
{% from 'macros/macros.html' import call_to_actions as actions, list %}
{% from 'macros/navbar.html' import navbar %}
{% from 'macros/application_list.html' import application_card_list as card_list %}


{% set nav_links = [
    { "href": dashboard, "name": "Dashboard" },
    { "href": "/all-applications", "name": "View applications" }, 
    { "href": "/all-companies", "name": "Browse Companies" },
] %}

{% set application_data = [] %}
{% for app in data %}
    {% set _ = application_data.append(app.fields) %}
{% endfor %}

{% set editable_fields = [
  {'key': 'jobName', 'editable': True, 'addable':True, 'type': 'text', "name": "Application name"},
  {'key': 'deadline', 'editable': True, 'addable':True, 'type': 'date', "name": "Deadline"},
  {'key': 'activated', 'editable': True, 'addable':False, 'type': 'boolean', "name": "Is Active", }
] %}

{% set crud_dict = {
    "fields" : editable_fields,
    "table" : applications_table,
    "user_id" : current_user,
    "computed_fields" : computed_fields
} %}

<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My applications</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
</head>
<body class="flex flex-col items-center justify-start max-h-screen relative w-full">
    {{ navbar(navlinks=nav_links, is_logged_in=True) }}

    <div class='col-span-3 w-full h-full shadow-md bg-gray  overflow-hidden gap-8 flex flex-col'>

        {{ card_list(title = "Posted applications", data_source = application_data, crud = crud_dict , cols=3) }}
    </div>
    
    <!-- Footer -->
    <footer class="h-40 flex flex-col items-center justify-center w-full space-y-4 bg-logo-background text-black">
        <img src="../static/images/logo-black.svg" alt="Logo" class="w-16" />
        <p class="text-center text-gray-700">
            &copy; 2023 Veric. All rights reserved.
        </p>
    </footer>

    <!-- External JavaScript -->
    <script src="https://kit.fontawesome.com/68c16b630a.js" crossorigin="anonymous"></script>
    <!-- Include Font Awesome -->
</body>
</html>
