<!-- Import Jinja Macros -->
{% from 'macros/macros.html' import  call_to_actions as actions, card %}
{% from 'macros/navbar.html' import navbar %}	
{% from 'macros/company_profile_card.html' import company_card as card %}
{% from 'macros/application_list.html' import application_card_list as card_list %}


{% set nav_links = [
    { "href": "/all-applications", "name": "View applications" }, 
    { "href": "/all-companies", "name": "Browse Companies" },
] %}


{% set displayed_fields = [
    { "name": "id", "key": "id", "type": "text", "editable": False },
    { "name": "Company Name", "editable": True, "key": "name", "type": "text" },
    { "name": "Company Email", "editable": True, "key": "email", "type": "email" },
    { "name": "Company Phone Number", "editable": True, "key": "contact", "type": "tel" },
    { "name": "Logo", "editable": True, "key": "logo", "type": "image" }
] %}

{% set application_data = [] %}
{% for app in applications_data %}
    {% set _ = application_data.append(app.fields) %}
{% endfor %}

{% set editable_fields = [
  {'key': 'jobName', 'editable': True, 'addable':True, 'type': 'text', "name": "Application name"},
  {'key': 'deadline', 'editable': True, 'addable':True, 'type': 'date', "name": "Deadline"},
  {'key': 'activated', 'editable': True, 'addable':False, 'type': 'boolean', "name": "Is Active", }
] %}

{% set computed_fields = [
    {'key': 'company', "value": company_data.fields.id}
] %}

{% set crud_dict = {
    "fields" : editable_fields,
    "table" : applications_table,
    "user_id" : company_data.fields.id,
    "computed_fields" : computed_fields
} %}


<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company_data.fields.name}}'s dashboard</title>
    <link rel="stylesheet" href="../static/dist/output.css" />
</head>
<body class="flex flex-col items-center justify-start max-h-screen relative w-full">
    <!-- Header -->
    {{ navbar(navlinks=nav_links, is_logged_in=True) }}

    <main class="flex w-full relative h-[calc(100vh-5rem)]">
        <div class="w-full mx-auto py-10 px-4 h-full grid grid-cols-4 gap-4">
            <div class='h-full w-full'>
            {{ card(
                form_title="Company Profile",
                data_source=company_data.fields,
                displayed_fields=displayed_fields,
                editable=True,
                data_source_table=table,
                image=True
            ) }}
            </div>
            <div class='col-span-3 w-full h-full shadow-md bg-gray  overflow-hidden gap-8 flex flex-col'>
                              
                    {{ card_list(title = "Posted applications", data_source = application_data, crud = crud_dict) }}
                </div>
                
        </div>
    </main>
    <!-- External JavaScript -->
    <script src="https://kit.fontawesome.com/68c16b630a.js" crossorigin="anonymous"></script>
    <!-- Include Font Awesome -->

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Select all checkboxes with the attribute 'data-radio-checkbox'
        const checkboxes = document.querySelectorAll('[data-radio-checkbox]');

        // Add an event listener to each checkbox
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    checkboxes.forEach(box => {
                        if (box !== this) {
                            box.checked = false;
                        }
                    });
                }
            });
        });
    });
    </script>
</body>
</html>
