{% from 'macros.html' import navbar, call_to_actions as actions %}

<!DOCTYPE html>
<html lang="en" data-theme="wireframe">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veric</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Include custom CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Include Tailwind CSS -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <!-- Include Google Fonts -->

    <!-- Tailwind Customization Script -->
    <script>
      var tailwind = {
        theme: {
          colors: {
            content: "#386641",
            "logo-prime": "#6A994E",
            "logo-background": "#A7C957",
            background: "#E9F5DB",
            black: "#001000",
          },
        },
        plugins: [
          require("@tailwindcss/forms"),
          require("tailwindcss-container-queries"),
          require("@tailwindcss/aspect-ratio"),
        ],
      };
    </script>
  </head>
  <body class="flex flex-col items-center justify-start min-h-screen">
    {% set nav_links = [ { "href": "/login", "name": "Login" }, { "href":
    "/sign-up", "name": "Sign up" }, ] %} {% set logo = '<span
      class="text-3xl font-bold text-gray-800"
      >Veric</span
    >' %} {{ navbar(logo=logo|safe, navlinks=nav_links) }}

    <main class="w-full h-full">
      <section class="relative flex">
        <div
          class="left-0 flex flex-col w-2/3 bg-white border border-2 absolute"
        >
          {% for company in company_records %} {% if company%}
          <form
            method="POST"
            action="/job-offers/{{company.id}}"
            class="flex-wrap p-8 w-full h-full gap-y-8 relative"
          >
            <!--- ret to homepage or company page? --->

            <label for="company_about" class="font-normal text-xl my-2"
              >About</label
            >
            <textarea
              name="company_about"
              placeholder="Type here..."
              id="{{ company.fields.About }}"
              value="{{ company.fields.About }}"
              rows="4"
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2"
            >
            </textarea>

            <label for="company_contact" class="font-normal text-xl my-2"
              >Contact info</label
            >
            <textarea
              name="company_contact"
              id="{{ company.fields.Contact }}"
              value="{{ company.fields.Contact }}"
              placeholder="Type here..."
              rows="4"
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2"
            >
            </textarea>

            <label for="company_name" class="font-normal text-xl my-2"
              >Name</label
            >
            <input
              type="text"
              name="company_name"
              id="{{ company.fields.Name }}"
              value="{{ company.fields.Name }}"
              placeholder="Type here..."
              t
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2 h-10"
            />

            <label for="company_applications" class="font-normal text-xl my-2"
              >Positions</label
            >
            <select
              name="company_applications"
              placeholder="Type here..."
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2 h-10"
            >
              {% for application in company.fields.Applications %} {% set
              application = search(application_id) %} {% if application %}
              <option value="{{ company.id }}" selected class="bg-white">
                {{ company.fields.Applications }}
              </option>
              {% else %}
              <option value="{{ company.id }}" class="bg-white">
                {{ company.fields.Applications }}
              </option>
              {% endif %} {% endfor %}
            </select>

            <label for="company_benefits" class="font-normal text-xl my-2"
              >Benefits</label
            >
            <textarea
              type="text"
              name="company_benefits"
              id="{{ company.fields.Benefits }}"
              value="{{ company.fields.Benefits }}"
              placeholder="Type here..."
              rows="2"
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2"
              required
            >
            </textarea>

            <label for="company_expectations" class="font-normal text-xl my-2"
              >Expectations</label
            >
            <textarea
              type="text"
              name="company_expectations"
              id="{{ company.fields.Expectations }}"
              value="{{ company.fields.Expectations }}"
              placeholder="Type here..."
              rows="2"
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2"
            >
            </textarea>

            <label for="company_requirements" class="font-normal text-xl my-2"
              >Requirements</label
            >
            <textarea
              type="text"
              name="company_requirements"
              id="{{ company.fields.Requirements }}"
              value="{{ company.fields.Requirements }}"
              placeholder="Type here..."
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2"
            >
            </textarea>

            <label for="company_salary" class="font-normal text-xl my-2"
              >Salary</label
            >
            <select
              name="company_salary"
              placeholder="Type here..."
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2 h-10"
            >
              {% for salary in company.fields.Salary %} {% if salary %}
              <option value="{{company.id}}" selected class="bg-white">
                {{ company.fields.Salary }}
              </option>
              {% else %}
              <option value="{{company.id}}" class="bg-white">
                {{ company.fields.Salary }}
              </option>
              {% endif %} {% endfor %}
            </select>

            <label for="company_description" class="font-normal text-xl my-2"
              >Description</label
            >
            <textarea
              type="text"
              name="company_description"
              id="{{ company.fields.Description }}"
              value="{{ company.fields.Description }}"
              placeholder="Type here..."
              required
              class="block bg-white w-[calc(100%-8rem)] my-2 rounded-md border border-gray-300 p-2"
            >
            </textarea>

            <button
              class="bg-white border border-gray-300 rounded-md px-4 py-2 mt-6"
            >
              Submit
            </button>
            <button
              class="bg-white border border-gray-300 rounded-md px-4 py-2 mt-6"
            >
              Return
            </button>
          </form>
          {%endfor%}
        </div>
        <div class="right-0 w-1/3 h-full absolute"></div>
      </section>
    </main>

    <script
      src="https://kit.fontawesome.com/68c16b630a.js"
      crossorigin="anonymous"
    ></script>
    <!-- Include Font Awesome -->
  </body>
</html>
